In [43]:
# using pandas read excel csv file
import pandas as pd
df=pd.read_csv("C:\\Users\\SAMARTH\\Desktop\\enol1.csv")
df

,,Name Prefix,First Name,Gender,E Mail,Date of Birth,Age in Yrs.,Weight in Kgs.,Date of Joining,Half of Joining,...,Month of Joining,Month Name of Joining,Day of Joining,Salary,Last % Hike,County,City,State,Zip,Region
0,677509,Drs.,Lois,F,lois.walker@hotmail.com,3/29/1981,36.36,60,11/24/2003,H2,...,11,November,24,168251,21%,Denver,Denver,CO,80224,West
1,940761,Ms.,Brenda,F,brenda.robinson@gmail.com,7/31/1970,47.02,60,7/27/2008,H2,...,7,July,27,51063,27%,De Soto,Stonewall,LA,71078,South
2,428945,Dr.,Joe,M,joe.robinson@gmail.com,6/16/1963,54.15,68,08-03-2016,H2,...,8,August,3,50155,16%,Clinton,Michigantown,IN,46057,Midwest
3,408351,Drs.,Diane,F,diane.evans@yahoo.com,12-04-1977,39.67,51,4/16/1999,H1,...,4,April,16,180294,1%,Crawford,Hydetown,PA,16328,Northeast
4,193819,Mr.,Benjamin,M,benjamin.russell@charter.net,4/17/1977,40.31,58,7/25/2013,H2,...,7,July,25,117642,13%,Waupaca,Fremont,WI,54940,Midwest
5,499687,Mr.,Patrick,M,patrick.bailey@aol.com,9/27/1982,34.86,58,7/22/2005,H2,...,7,July,22,72305,5%,Madison,Macksburg,IA,50155,Midwest
6,539712,Ms.,Nancy,F,nancy.baker@bp.com,6/13/1995,22.14,50,9/14/2016,H2,...,9,September,14,98189,0%,Fulton,Atlanta,GA,30334,South
7,380086,Mrs.,Carol,F,carol.murphy@gmail.com,6/30/1958,59.12,40,1/28/1983,H1,...,1,January,28,60918,20%,Clinton,Blanchester,OH,45107,Midwest
8,477616,Hon.,Frances,F,frances.young@gmail.com,06-09-1959,58.18,42,4/27/1994,H1,...,4,April,27,121587,28%,Starr,Delmita,TX,78536,South
9,162402,Hon.,Diana,F,diana.peterson@hotmail.co.uk,11/13/1987,29.73,60,2/17/2014,H1,...,2,February,17,43010,4%,Carroll,Eureka Springs,AR,72632,South
10,231469,Mr.,Ralph,M,ralph.flores@yahoo.com,02-05-1975,42.50,80,4/14/2009,H1,...,4,April,14,118457,8%,Nemaha,Sabetha,KS,66534,Midwest
11,153989,Prof.,Jack,M,jack.alexander@gmail.com,5/19/1995,22.21,61,01-05-2017,H1,...,1,January,5,82965,23%,Clark,Las Vegas,NV,89170,West
12,386158,Mrs.,Melissa,F,melissa.king@comcast.net,2/24/1972,45.45,55,11/24/2015,H2,...,11,November,24,166892,1%,Washington,New Matamoras,OH,45767,Midwest
13,301576,Hon.,Wayne,M,wayne.watson@gmail.com,6/26/1996,21.10,87,7/19/2017,H2,...,7,July,19,92758,14%,Cavalier,Maida,ND,58255,Midwest
14,441771,Mrs.,Cheryl,F,cheryl.scott@gmail.com,2/23/1958,59.47,47,11/26/1990,H2,...,11,November,26,92220,12%,Somerset,Quecreek,PA,15555,Northeast
15,528509,Hon.,Paula,F,paula.diaz@gmail.com,8/22/1966,50.97,42,8/22/1994,H2,...,8,August,22,152654,8%,Duplin,Beulaville,NC,28518,South
16,912990,Mr.,Joshua,M,joshua.stewart@yahoo.ca,5/18/1970,47.23,68,09-02-2002,H2,...,9,September,2,184896,1%,Madison,New Douglas,IL,62074,Midwest
17,214352,Ms.,Theresa,F,theresa.lee@gmail.com,12-05-1992,24.66,59,1/19/2015,H1,...,1,January,19,197537,1%,Mitchell,Toeterville,IA,50481,Midwest
18,890290,Hon.,Julia,F,julia.scott@apple.com,7/15/1959,58.08,56,2/23/2005,H1,...,2,February,23,141518,3%,Hickman,Primm Springs,TN,38476,South
19,622406,Mr.,Thomas,M,thomas.lewis@gmail.com,10-04-1967,49.85,73,06-07-1998,H1,...,6,June,7,73862,3%,Cape Girardeau,Dutchtown,MO,63745,Midwest
20,979607,Ms.,Carol,F,carol.edwards@msn.com,12/14/1994,22.64,56,4/25/2016,H1,...,4,April,25,93967,30%,Caddo,Shreveport,LA,71162,South
21,969580,Prof.,Matthew,M,matthew.turner@gmail.com,10/26/1993,23.77,56,02-07-2016,H1,...,2,February,7,52237,9%,Northumberland,Heathsville,VA,22473,South
22,426038,Hon.,Joan,F,joan.stewart@yahoo.com,11/20/1972,44.72,56,12/30/2009,H2,...,12,December,30,111673,12%,Meigs,Middleport,OH,45760,Midwest
23,388642,Mrs.,Ruby,F,ruby.rogers@gmail.com,05-01-1980,37.27,59,8/30/2013,H2,...,8,August,30,160623,9%,Cannon,Woodbury,TN,37190,South
24,560455,Ms.,Carolyn,F,carolyn.hayes@hotmail.co.uk,03-10-1958,59.42,53,07-03-2001,H2,...,7,July,3,42005,14%,Osceola,Saint Cloud,FL,34771,South
25,477253,Mrs.,Anne,F,anne.russell@ibm.com,7/29/1989,28.02,60,11/24/2013,H2,...,11,November,24,103160,29%,Grant,Stockholm,SD,57264,Midwest
26,263480,Hon.,Daniel,M,daniel.cooper@yahoo.com,01-01-1990,27.59,60,03-06-2014,H1,...,3,March,6,153790,13%,Dunn,Manning,ND,58642,Midwest
27,683826,Mr.,Roger,M,roger.roberts@gmail.com,07-07-1969,48.09,77,1/29/2009,H1,...,1,January,29,129625,12%,Skagit,Mount Vernon,WA,98273,West
28,474599,Drs.,Maria,F,maria.walker@microsoft.com,3/19/1975,42.39,41,10-01-1998,H2,...,10,October,1,48944,21%,Lawrence,Lawrenceburg,TN,38464,South
29,335732,Ms.,Brenda,F,brenda.butler@gmail.com,12-06-1963,53.68,41,8/20/1987,H2,...,8,August,20,60508,29%,Maricopa,Mesa,AZ,85208,West
30,329752,Hon.,Lillian,F,lillian.brown@aol.com,05-12-1981,36.24,49,4/13/2015,H1,...,4,April,13,67251,22%,Wakulla,Panacea,FL,32346,South
31,893212,Ms.,Amy,F,amy.howard@aol.com,6/16/1981,36.14,52,06-01-2003,H1,...,6,June,1,112715,30%,Kline,Kline,SC,29814,South
32,621833,Mr.,Gregory,M,gregory.edwards@outlook.com,8/31/1993,23.92,64,9/30/2015,H2,...,9,September,30,169245,22%,Klamath,Bonanza,OR,97623,West
33,456747,Mr.,Roy,M,roy.griffin@yahoo.com,05-08-1991,26.24,62,8/23/2012,H2,...,8,August,23,170895,19%,Union,Liberty,IN,47353,Midwest
34,278556,Prof.,Richard,M,richard.mitchell@verizon.net,7/28/1993,24.02,81,8/18/2016,H2,...,8,August,18,122226,14%,Calhoun,Ohatchee,AL,36271,South
35,333476,Hon.,Mary,F,mary.wilson@sbcglobal.net,12-01-1967,49.69,54,12/22/1991,H2,...,12,December,22,109394,16%,Davidson,Nashville,TN,37219,South
36,218791,Mr.,Aaron,M,aaron.price@bp.com,02-10-1969,48.49,56,07-03-1997,H2,...,7,July,3,54402,0%,Crawford,Eckerty,IN,47116,Midwest
37,134841,Ms.,Donna,F,donna.brown@aol.com,9/14/1983,33.89,57,7/17/2013,H2,...,7,July,17,129836,8%,Livingston,Lima,NY,14485,Northeast
38,726264,Hon.,Carl,M,carl.collins@yahoo.com,12/22/1973,43.63,90,06-09-2007,H1,...,6,June,9,162159,7%,Jefferson,Wright,AR,72182,South
39,766610,Ms.,Joyce,F,joyce.jenkins@aol.com,8/22/1961,55.97,44,5/14/2010,H1,...,5,May,14,119321,13%,Pierce,Ellsworth,WI,54011,Midwest
40,923947,Ms.,Mary,F,mary.bryant@verizon.net,6/21/1962,55.14,45,5/20/2004,H1,...,5,May,20,155442,4%,Iowa,Conroy,IA,52220,Midwest
41,227922,Hon.,Amanda,F,amanda.hughes@rediffmail.com,7/29/1982,35.02,40,4/19/2007,H1,...,4,April,19,114257,22%,Calcasieu,Lake Charles,LA,70605,South
42,265813,Hon.,Jack,M,jack.campbell@gmail.com,01-04-1985,32.58,50,7/29/2007,H2,...,7,July,29,186280,23%,Kalvesta,Kalvesta,KS,67856,Midwest
43,247137,Mr.,Alan,M,alan.rivera@apple.com,12-11-1978,38.65,80,06-07-2006,H1,...,6,June,7,154810,12%,Knox,Knoxville,TN,37901,South
44,407061,Ms.,Elizabeth,F,elizabeth.jackson@aol.com,8/15/1964,52.99,56,1/19/2005,H1,...,1,January,19,85420,24%,Strafford,Rochester,NH,3867,Northeast
45,226714,Drs.,Nancy,F,nancy.davis@ibm.com,11/14/1983,33.73,52,8/25/2012,H2,...,8,August,25,94986,11%,Clay,Bowling Green,IN,47833,Midwest
46,702813,Mr.,Ernest,M,ernest.martinez@gmail.com,11-09-1989,27.73,53,1/24/2016,H1,...,1,January,24,172098,8%,Crawford,Uniontown,AR,72955,South
47,524896,Ms.,Judy,F,judy.hernandez@gmail.com,3/25/1961,56.38,40,12/27/2011,H2,...,12,December,27,133332,30%,Shawnee,Topeka,KS,66606,Midwest
48,363065,Drs.,Nancy,F,nancy.jones@gmail.com,11-10-1993,23.73,60,10/16/2015,H2,...,10,October,16,61924,4%,New York,New York City,NY,10087,Northeast

In [47]:
# Q. print first and last five rows
import csv 
filename = "C:\\Users\\SAMARTH\\Desktop\\enol1.csv" 
fields = [] 
rows = [] 
with open(filename, 'r') as csvfile: 
    # creating a csv reader object 
    reader = csv.reader(csvfile) 
    for row in reader: 
        rows.append(row) 
n=1
print("First five rows:\n")
for row in rows[:5]:
    print(n,end=".  ")
    for col in row:
        print(col,end="  ||  ")
    n+=1
    print('\n')
print("Last five rows:\n")
for row in rows[-5:]:
    for col in row:
        print(col,end="  ||  ")
    print('\n')

First five rows:

1.     ||  Name Prefix  ||  First Name  ||  Gender  ||  E Mail  ||  Date of Birth  ||  Age in Yrs.  ||  Weight in Kgs.  ||  Date of Joining  ||  Half of Joining  ||  Year of Joining  ||  Month of Joining  ||  Month Name of Joining  ||  Day of Joining  ||  Salary  ||  Last % Hike  ||  County  ||  City  ||  State  ||  Zip  ||  Region  ||

2.  677509  ||  Drs.  ||  Lois  ||  F  ||  lois.walker@hotmail.com  ||  3/29/1981  ||  36.36  ||  60  ||  11/24/2003  ||  H2  ||  2003  ||  11  ||  November  ||  24  ||  168251  ||  21%  ||  Denver  ||  Denver  ||  CO  ||  80224  ||  West  ||

3.  940761  ||  Ms.  ||  Brenda  ||  F  ||  brenda.robinson@gmail.com  ||  7/31/1970  ||  47.02  ||  60  ||  7/27/2008  ||  H2  ||  2008  ||  7  ||  July  ||  27  ||  51063  ||  27%  ||  De Soto  ||  Stonewall  ||  LA  ||  71078  ||  South  ||

4.  428945  ||  Dr.  ||  Joe  ||  M  ||  joe.robinson@gmail.com  ||  6/16/1963  ||  54.15  ||  68  ||  08-03-2016  ||  H2  ||  2016  ||  8  ||  August  ||  3  ||  50155  ||  16%  ||  Clinton  ||  Michigantown  ||  IN  ||  46057  ||  Midwest  ||

5.  408351  ||  Drs.  ||  Diane  ||  F  ||  diane.evans@yahoo.com  ||  12-04-1977  ||  39.67  ||  51  ||  4/16/1999  ||  H1  ||  1999  ||  4  ||  April  ||  16  ||  180294  ||  1%  ||  Crawford  ||  Hydetown  ||  PA  ||  16328  ||  Northeast  ||

Last five rows:

407061  ||  Ms.  ||  Elizabeth  ||  F  ||  elizabeth.jackson@aol.com  ||  8/15/1964  ||  52.99  ||  56  ||  1/19/2005  ||  H1  ||  2005  ||  1  ||  January  ||  19  ||  85420  ||  24%  ||  Strafford  ||  Rochester  ||  NH  ||  3867  ||  Northeast  ||

226714  ||  Drs.  ||  Nancy  ||  F  ||  nancy.davis@ibm.com  ||  11/14/1983  ||  33.73  ||  52  ||  8/25/2012  ||  H2  ||  2012  ||  8  ||  August  ||  25  ||  94986  ||  11%  ||  Clay  ||  Bowling Green  ||  IN  ||  47833  ||  Midwest  ||

702813  ||  Mr.  ||  Ernest  ||  M  ||  ernest.martinez@gmail.com  ||  11-09-1989  ||  27.73  ||  53  ||  1/24/2016  ||  H1  ||  2016  ||  1  ||  January  ||  24  ||  172098  ||  8%  ||  Crawford  ||  Uniontown  ||  AR  ||  72955  ||  South  ||

524896  ||  Ms.  ||  Judy  ||  F  ||  judy.hernandez@gmail.com  ||  3/25/1961  ||  56.38  ||  40  ||  12/27/2011  ||  H2  ||  2011  ||  12  ||  December  ||  27  ||  133332  ||  30%  ||  Shawnee  ||  Topeka  ||  KS  ||  66606  ||  Midwest  ||

363065  ||  Drs.  ||  Nancy  ||  F  ||  nancy.jones@gmail.com  ||  11-10-1993  ||  23.73  ||  60  ||  10/16/2015  ||  H2  ||  2015  ||  10  ||  October  ||  16  ||  61924  ||  4%  ||  New York  ||  New York City  ||  NY  ||  10087  ||  Northeast  ||

In [5]:
# Q. Find person who joined after 2000
import pandas as pd
df=pd.read_csv("C:\\Users\\SAMARTH\\Desktop\\enol1.csv")
a1=[]
a2=[]
n=0
joining_date=list(df.Date_of_Joining)
for i in joining_date:
    if ('/' in i):
        a1=list(map(int,i.split('/')))
        if (a1[2]>2000):
            a2.append(n)
        a1.clear()
    if ('-' in i):
        a1=list(map(int,i.split('-')))
        if (a1[2]>2000):
            a2.append(n)
        a1.clear()
    n+=1
name=list(df.First_Name)
l1=list()
for i in a2:
    l1.append(name[i])
print(list(set(l1)),"\n")
print("Total number of person joined after '2000' :",len(list(set(l1))))

['Benjamin', 'Donna', 'Lillian', 'Alan', 'Carol', 'Ruby', 'Anne', 'Richard', 'Daniel', 'Melissa', 'Joshua', 'Lois', 'Ernest', 'Ralph', 'Jack', 'Ms.', 'Roger', 'Carl', 'Mary', 'Wayne', 'Judy', 'Diana', 'Nancy', 'Carolyn', 'Gregory', 'Joyce', 'Roy', 'Amanda', 'Joe', 'Julia', 'Matthew', 'Joan', 'Theresa', 'Amy', 'Elizabeth', 'Patrick']

Total number of person joined after '2000' : 36

In [14]:
salary=list(df.Salary)
name=list(df.First_Name)
l2=list()
for i in salary:
    if (int(i)>100000):
        l2.append(salary.index(i))
n=1
l3=list()
for i1 in l2:
    l3.append(name[i1])
for i2 in list(set(l3)):
    print(n,". ",i2)
    n+=1

1 .  Frances
2 .  Benjamin
3 .  Donna
4 .  Alan
5 .  Ruby
6 .  Anne
7 .  Richard
8 .  Daniel
9 .  Melissa
10 .  Joshua
11 .  Lois
12 .  Ernest
13 .  Ralph
14 .  Jack
15 .  Diane
16 .  Roger
17 .  Carl
18 .  Mary
19 .  Judy
20 .  Gregory
21 .  Joyce
22 .  Roy
23 .  Amanda
24 .  Julia
25 .  Paula
26 .  Joan
27 .  Theresa
28 .  Amy

In [18]:
# Q. Sort employee name according to his salary
n1=dict(zip(salary,name))
for i in sorted(n1):
    print(n1[i]," : ",i)

Carolyn  :  42005
Diana  :  43010
Maria  :  48944
Joe  :  50155
Ms.  :  51063
Matthew  :  52237
Aaron  :  54402
Brenda  :  60508
Carol  :  60918
Nancy  :  61924
Lillian  :  67251
Patrick  :  72305
Thomas  :  73862
Jack  :  82965
Elizabeth  :  85420
Cheryl  :  92220
Wayne  :  92758
Carol  :  93967
Nancy  :  94986
Nancy  :  98189
Anne  :  103160
Mary  :  109394
Joan  :  111673
Amy  :  112715
Amanda  :  114257
Benjamin  :  117642
Ralph  :  118457
Joyce  :  119321
Frances  :  121587
Richard  :  122226
Roger  :  129625
Donna  :  129836
Judy  :  133332
Julia  :  141518
Paula  :  152654
Daniel  :  153790
Alan  :  154810
Mary  :  155442
Ruby  :  160623
Carl  :  162159
Melissa  :  166892
Lois  :  168251
Gregory  :  169245
Roy  :  170895
Ernest  :  172098
Diane  :  180294
Joshua  :  184896
Jack  :  186280
Theresa  :  197537

In [22]:
import pandas as pd